*.md
*.html
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Images ###
*.png
*.jpg
*.jpeg
*.gif

### maven wrapper ###
maven-wrapper.properties

### json files ###
*.json

graphify-out/.graphify_root
aws cred/notifymesh-dev_accessKeys.csv
.env
*.pem